* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "futura", "Helvetica", "Arial", sans-serif !important;
}

@font-face {
  font-family: "Futura";
  src: url(assets/font/Futura.ttc);
}

* {
  transition: .2s;
}

body {
  background-color: #fff !important;

}

body {
  background-color: #fff !important;
}


.MuiBox-root MuiBox-root-535 {
  height: 84% !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
  width: 240px !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  width: 0px;
}

.WithStyles\(ForwardRef\(DialogContent\)\)-root-44::-webkit-scrollbar {
  width: 0px;
}

.article-content a{
color: rgba(0, 0, 0, 0.87) !important;
text-decoration: none;
}

.makeStyles-footerBottomWrap-20 .text-icon-wrap .privacy-policy{
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 15px !important;
  text-decoration: none !important;
  font-weight: bold !important;
}

.MuiOutlinedInput-input{
  padding: 10px !important;
}